
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Admin Panel</h2>

    <h2> You do not have permission to have access to admin panel. Contact admin to request access.</h2>*@

<h1 class="display-1 text-center">Admin Panel</h1>

<br />
<br />

<h2 class="display-2 text-center text-danger">
    You do not have permission to have access to admin panel.
    Contact admin to request access.
</h2>