@{
    ViewBag.Title = "SuccessfulSubmit";
}

<h1 class="text-center display-4 mt-5">
    Thank you for your submission! We will get back to you shortly. In the meantime, feel free to explore the rest of the site.
</h1>